<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet store">
    <test name="Users">
        <classes>
            <class name="ru.karine.api.tests.UserTest">
            </class>
        </classes>
    </test>

    <test name="Pets">

        <classes>
            <class name="ru.karine.api.tests.PetTest">
            </class>
        </classes>
    </test>

</suite>